.text-dropdown {
  position: relative;
  height: 54px;
  background: white;
  border: 1px solid var(--color-gray5);
  border-radius: 12px;
  z-index: 2;
}

.text-drop-btn {
  padding: 6px 10px;
  height: 54px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-drop-btn img {
  height: 24px;
  width: 22px;
  object-fit: contain;
}

.text-drop-btn span {
  color: var(--color-text);
  font-family: Yellix-SemiBold, serif;
  font-size: 14px !important;
  padding-left: 7px;
  padding-right: 14px;
}

.text-drop-btn:after {
  content: '';
  transition: all 0.3s;
  border: solid var(--color-text);
  border-width: 0 2px 2px 0;
  float: right;
  margin-top: 0px;
  margin-right: 6px;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.text-dropdown.active .text-drop-btn:after {
  margin-top: 6px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.text-dropdown-items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
}

.text-dropdown.active .text-dropdown-items {
  visibility: visible;
  border: 1px solid var(--color-gray5);
  height: auto;
  opacity: 1;
  transition: max-height 0.7s, opacity 0.6s, visibility 1s ease;
  max-height: 150px;
  overflow-y: auto;
}

.text-dropdown-item {
  cursor: pointer;
  padding: 8px 18px;
}

.text-dropdown-item img {
  height: 24px;
  width: 22px;
  object-fit: contain;
}

.text-dropdown-item h1 {
  font-family: Yellix-Medium, serif !important;
  font-size: 13px !important;
}

.text-dropdown-item:not(:last-child) {
  border-bottom: 1px solid var(--color-gray5);
}

.text-dropdown-item:hover {
  color: var(--color-text);
  font-family: Yellix-SemiBold, serif;
}
